<p></p>
<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_owner_registration_path(@owner) %>

Sites
<% @owner.sites.each do |site| %>
  <p><%= link_to site.name, root_url(subdomain: site.subdomain) %></p>
  <p><%= link_to 'Edit', edit_site_path(site) %></p>
<% end %>

<%= link_to "Create a new site", new_site_path %>
