<%= form_for @post, :html => { :class => "form-horizontal post" } do |f| %>

    <% if @post.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
  <%= f.hidden_field :site_id, :value => @site.id %>
  <%= f.hidden_field :user_id, :value => @user.id %>
  <div class="control-group">
    <%= f.label :wants_item, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :wants_item, @site.trade_list, :class => 'form-control' %>
    </div>
    <%#= error_span(@post[:wants_item]) %>
  </div>
  <div class="control-group">
    <%= f.label :wants_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :wants_description, :class => 'form-control' %>
    </div>
    <%#= error_span(@post[:wants_description]) %>
  </div>
  <div class="control-group">
    <%= f.label :has_item, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :has_item, @site.trade_list, :class => 'form-control' %>
    </div>
    <%#= error_span(@post[:has_item]) %>
  </div>
  <div class="control-group">
    <%= f.label :has_description, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :has_description, :class => 'form-control' %>
    </div>
    <%#= error_span(@post[:has_description]) %>
  </div>


  <%= f.submit nil, :class => 'btn btn-primary' %>

<% end %>
