<!DOCTYPE html>
<html>
  <head>
    <title>UserConnect</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%#= stylesheet_link_tag 'distinctive', :media => 'screen' %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <% if site? %>
        <%= render 'layouts/site_header' %>
      <% else %>
        <%= render 'layouts/header' %>
      <% end %>
      <p></p><p></p><p></p>
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </body>
</html>
